@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"]:focus {
    --tw-ring-offset-width: 0px;
  }
  .body-div {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 20px;
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
  }